UseCases/pipeline/UseCase1.json
{
	"name": "UseCase1",
	"properties": {
		"activities": [
			{
				"name": "Customer_FileToDataLake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "String"
								},
								"sink": {
									"name": "CustomerID"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String"
								},
								"sink": {
									"name": "FirstName"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String"
								},
								"sink": {
									"name": "LastName"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String"
								},
								"sink": {
									"name": "Email"
								}
							},
							{
								"source": {
									"name": "Address",
									"type": "String"
								},
								"sink": {
									"name": "Address"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String"
								},
								"sink": {
									"name": "City"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String"
								},
								"sink": {
									"name": "Country"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "file_customer_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "file_customer_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sales_FileToDataLake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Price",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "file_sales_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "file_sales_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UseCase1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/UseCase1"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CustomerFileCopy",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Customer_FileToDataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CustomerFileCopy",
					"value": true
				}
			},
			{
				"name": "SalesFileCopy",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Sales_FileToDataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"variableName": "SalesFileCopy",
					"value": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CustomerFileCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SalesFileCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('CustomerFileCopy'),true),equals(variables('SalesFileCopy'),true))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CustomerFileCopy": {
				"type": "Boolean"
			},
			"SalesFileCopy": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}